<div id="process-page-wrapper">
  {{#liquid-if isComplete}}

    <p>Congratulations! You have completed process {{ model.processDef.name }}.</p>
    <p>Start another {{#link-to "process-defs"}}process{{/link-to}}?</p>

  {{else}}
    {{#liquid-if hasWaitingTask}}
      <p>Please wait while additional tasks are completed by another user.</p>
      <p>Start another {{#link-to "process-defs"}}process{{/link-to}}?</p>
    {{else}}
      {{searching-for-next}}
    {{/liquid-if}}
  {{/liquid-if}}
</div>

<div class="container">
    <div class="row">
      <img 
          src="/assets/patterns/{{model.processDef.processId}}.png"
          alt="{{ model.processDef.name }} Diagram"
          style="max-width:100%;" />
    </div>
</div>

