{{#task-form task=model}}
    {{#if validChoices}}
        {{#each validChoices as |choice|}}
            {{input type="checkbox" checked=choice.isChecked name=choice.validTransition.name}} {{ choice.validTransition.name }}
        {{/each}}
    {{else}}
        <div class="input-group">
          {{input type="text" value=model.choices placeholder='Choose.'}}
        </div>
    {{/if}}
    <span class="input-group-btn">
        <button {{action 'submit'}}>Submit!</button>
    </span>
{{/task-form}}
