{{outlet}}
<h2>{{model.taskNode.nodeDef.processDef.name}}</h2>
<div class="row">
  <div class="task">
    <h3>{{model.taskNode.nodeDef.name}}</h3>

    <div class="input-group">
    {{input type="text" value=model.choices placeholder='Choose.'}}
    <span class="input-group-btn">
      <button {{action 'submitChoice'}}>Submit!</button>
    </span>
    </div>
    <ul>
    {{#each item in validChoices}}
        <li>
            {{input type="checkbox"}}YARGH
        </li>
    {{/each }}
    </ul>
  </div>
</div>
