{{outlet}}
<h2>{{model.taskNode.nodeDef.processDef.name}}</h2>
<div class="row">
  <div class="task">
    <h3>{{model.taskNode.nodeDef.name}}</h3>

    <div class="input-group">
    {{input type="text" value=model.text placeholder='Log this!'}}
    <span class="input-group-btn">
      <button {{action 'submit'}}>Submit!</button>
    </span>
    </div>
  </div>
</div>